Django==1.4.5
uWSGI
pycrypto
pyyaml
pil
django-threaded-multihost
django-app-plugins
sorl-thumbnail
django-signals-ahoy
django-livesettings
django-keyedcache
South
django-registration
sphinx
docutils
fedex
suds
Reportlab
http://www.satchmoproject.com/snapshots/trml2pdf-1.2.tar.gz
